{% extends "index.html" %}

{% block content %}
<section class="content-section dashboard-section">
    <div class="container">
        <h2>Dashboard Interativo de Lucros</h2>
        <p>Selecione um ano para visualizar o dashboard de lucros com detalhes mensais.</p>
        <div class="form-container">
            <form action="" method="post">
                <div class="form-group">
                    <label for="ano_selecionado">Escolha o ano:</label>
                    <select id="ano_selecionado" name="ano_selecionado" class="form-control">
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
                <button type="submit" class="btn-dash btn-primary">Visualizar Dashboard</button>
            </form>
            <div class="dashboard-conteiner">
                </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}