<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a TODA Corporation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="main-header">
        </header>

    <main>
        <section class="content-section">
            <div class="container">
                <h2>A História da TODA Corporation</h2>
                <p>
                    A TODA Corporation foi fundada em 1985 com a visão de construir um futuro mais sustentável. O que começou como uma pequena empresa familiar se expandiu ao longo das décadas, tornando-se uma líder no mercado de construção e infraestrutura. Nosso compromisso com a inovação e a qualidade nos permitiu participar de projetos emblemáticos que moldaram a paisagem urbana e rural do país. Acreditamos que cada projeto é uma oportunidade de deixar um legado de excelência, unindo tecnologia de ponta e responsabilidade social.
                </p>
                <p>
                    Nossa equipe é formada por profissionais apaixonados e dedicados, que trabalham incansavelmente para superar as expectativas dos clientes. Ao longo dos anos, diversificamos nossas áreas de atuação para incluir energia e recursos, sempre com o objetivo de oferecer soluções que contribuam para o bem-estar da sociedade e a preservação do meio ambiente.
                </p>
                <a href="{{ url_for('home') }}" class="btn-primary btn-primaryy">Voltar para a Home</a>
            </div>
        </section>
    </main>

    <footer class="main-footer">
        </footer>

</body>
</html>